name: flake8 Lint

# Controls when the workflow will run
on:
  push:
    branches: [ main , feature/*]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  flake8-lint:
    runs-on: ubuntu-latest 
    name: Lint
    steps:
      - uses: actions/checkout@v5

      - name: "Set up Python"
        uses: actions/setup-python@v6
        with:
          python-version-file: "pyproject.toml"

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install the project
        run: uv sync --locked --all-extras --dev

      - name: Run Linter
        run: uv run flake8 src/.

    
  pytest:
    needs: flake8-lint
    runs-on: ubuntu-latest 
    timeout-minutes: 10

    name: Pytest
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    - uses: actions/checkout@v3
    - name: "Set up Python"
      uses: actions/setup-python@v6
      with:
        python-version-file: "pyproject.toml"
    
    - name: Install uv
      uses: astral-sh/setup-uv@v7

    - name: Install the project
      run: uv sync --locked --all-extras --dev
    
    - name: Test with pytest
      run: |
        uv run pytest test/ -v